<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Formulário de Cadastro de Clientes</title>
</head>
<body>
<h1>Formulário de Cadastro de Clientes</h1>
<br>
<p th:text="${sucesso}"></p>
<p th:text="${editado}"></p>
<p th:text="${excluido}"></p>
<form th:object="${cliente}" th:action="@{/cliente/salvar-cliente}" method="post">

<div class="form-group">
    <label for="formGroupExampleInput"></label>
    <input type="text" style="border-color: white" th:field="*{id}" readonly="readonly" class="form-control" id="formGroupExampleInput">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Nome completo</label>
    <input type="text" th:field="*{nome}" class="form-control" id="formGroupExampleInput" placeholder="Digite seu nome">
  </div>
  <div class="form-group">CPF</label>
    <input type="text" th:field="*{cpf}" class="form-control" id="formGroupExampleInput2" placeholder="Digite seu CPF">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">E-mail</label>
    <input type="text" th:field="*{email}" class="form-control" id="formGroupExampleInput" placeholder=" Digite seu e-mail">
  </div>
  
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>